Source: theme-darkness
Section: themes
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: theme-darkness
Section: themes
Architecture: all
XBSC-Group: Dark
Description: Darkness theme
 A dark theme ideal for programming at
 three o'clock in the morning with the lights
 turned off.



